#tout
{
	background-color: #e5f2f9;
	font-family: "Niramit", "Times",sans-serif;
}
.block
{
	background-color: #e5f2f9;
	margin-bottom: 1%;
	width: 20%;
	display: flex;
	flex-direction: column;

}
.miniblock
{
	color: #585c63;
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 5px;
	margin: 1px;
}
.miniblock:hover
{
	color: black;
	
}